<div class="vh-100 d-flex align-content-center align-items-center">
  <form
    action=""
    (submit)="
      $event.preventDefault();
      _authService.forgotPassword(passwordResetMail.value)
    "
    class="col-xl-4 col-md-8 col-sm-12 mx-auto"
  >
    <div class="text-start mb-5">
      <h2 class="text-primary">Reset password</h2>
      <small class="text-muted">
        Please enter your email address to request a password reset.</small
      >
    </div>
    <div>
      <div class="mb-3">
        <input
          #passwordResetMail
          placeholder="Email"
          class="form-control"
          required="true"
          type="email"
          id="passwordResetMail"
          name="passwordResetMail"
        />
      </div>
    </div>
    <div class="my-4">
      <button type="submit" class="btn btn-success w-100">Send Email</button>
    </div>
    <div>
      Already have an account?
      <a class="link-primary" routerLink="/login">Login!</a>
    </div>
  </form>
</div>
