<div
  class="position-absolute top-0 start-0 vw-100 vh-100 d-flex justify-content-center align-content-center align-items-center"
  style="
    background-image: url('https://wallpapercave.com/wp/wp7034448.png');
    background-size: cover;
    z-index: -1;
  "
>
  <div class="col-xl-4 col-md-8 col-sm-12 mx-auto bg-light p-4 rounded-3">
    <div class="row">
      <div class="col-md-6 d-none d-md-block">
        <div class="d-flex align-content-center align-items-center">
          <div>
            <img src="assets/logo-branco.png" alt="Astroid Logo" />
          </div>
          <div>
            <h2 class="fw-bold">Astroid</h2>
          </div>
        </div>
        <small>Astroid, information sharing community and space spy</small>
      </div>
      <div class="col-md-6 col-sm-12">
        <form
          action=""
          (submit)="
            $event.preventDefault();
            _authService.signUp(registerEmail.value, registerPassword.value)
          "
        >
          <div class="mb-5">
            <h2 class="text-primary">Register</h2>
            <small class="text-muted"
              >We just need your Email and a strong password.</small
            >
          </div>
          <div>
            <div class="mb-3">
              <input
                #registerEmail
                placeholder="Email"
                class="form-control"
                required="true"
                type="email"
                id="registerEmail"
                name="registerEmail"
              />
            </div>
            <div class="mb-3">
              <input
                #registerPassword
                placeholder="Password"
                class="form-control"
                required="true"
                type="password"
                id="registerPassword"
                name="registerPassword"
              />
            </div>
          </div>
          <div class="my-4">
            <button type="submit" class="btn btn-primary w-100">
              Register
            </button>
          </div>
          <div>
            Already have an account?
            <a class="link-primary" routerLink="/login">Login!</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
