<div class="row">
  <div *ngFor="let company of companies" class="col-xl-3 col-md-4 col-12 p-2">
    <div
      class="bg-light shadow p-2 h-100 w-100 d-flex align-items-center align-content-center"
      *ngIf="company.userId !== userData.userId"
    >
      <div class="text-center">
        <img
          src="{{
            company.avatar ? company.avatar : 'assets/defaultAvatar.png'
          }}"
          alt="Company logo"
          width="42"
          height="42"
          class="rounded-circle border"
          style="object-fit: cover"
        />
        <small class="text-muted">
          <i>{{ company.companyAccount === "0" ? "" : "Company" }}</i>
        </small>
      </div>
      <div class="ms-2 w-100">
        <a class="fw-bold h5" routerLink="/profile/{{ company.userId }}">
          {{
            company.companyAccount === "0"
              ? company.firstName + " " + company.lastName
              : company.companyName
          }}
        </a>
        <div>
          <small class="text-muted">{{ company.biography }}</small>
        </div>
      </div>
      <div>
        <a
          routerLink="/chat/{{ company.userId }}"
          class="btn btn-primary rounded-circle"
        >
          <i class="fal fa-location-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</div>
